@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

/* orbit */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700");

body {
  font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ReactModalPortal > div {
  z-index: 999;
}

